/* Fontes */
body, header, footer{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
}

h1{
    color: #00a3e5;
    font-size: 20px;
}
h1 i{
    color: darkgrey;
}

h2{
    font-size: 17px;
}


/* Menu Superior */
#menuSuperior{
    border-bottom: 1px solid #00a3e5;
    border-top: 1px solid #00a3e5;
    padding: 0px 80px 0px 80px !important;
    
}
#menuSuperior li{   
    float: left;
    padding: 15px 0px 15px 0px !important;
    width: 100px;
    text-align: center;
}

.navbar{
    padding: 0px !important;
}
.navbar-toggler{
    border: none;
}

.active-menu {
    background-color:lightblue;
    border-right: solid 1px #00a3e5;
    border-left: solid 1px #00a3e5;
}

#menuSuperior li a{
    color: black;
}

.row{
    margin: 0px !important;
}

/* Estilo Padrão*/
header{
    background-color: rgb(241, 238, 238);
    padding: 20px 0px 20px 80px !important;
}

#row-main{
padding: 30px 80px 30px 80px !important;
max-width: 100%;
}

.card{
    margin-bottom: 20px;
}

.box1{
    background-color: lightgray;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 0px;
}

.box2{
    background-color: rgb(241, 238, 238);
    border-radius: 0px;
}

.box3{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 5px !important;
}

.imgstyle{
  border: 4px solid;
  border-radius: 100%;
  border-color: orange;
  height: 180px;
  object-fit: cover;
  width: 180px;  
}

.logo{
    width: 180px;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Accordions */
.card-header{
    background-color: white;
}

.accordion .card-header a{
    cursor: pointer;
}


/* Icones */
.caretDown{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
    font-size: 25px;
    }

.accordion .collapsed i:before{
    content: "\f0d7";
}

.icon{
    display: flex;
    vertical-align: text-top;
}

.icon.audio::before{
    font-family: "Font Awesome 5 Free";
    content: '\f028';
    font-weight: 900;
    margin-right: 12px;
    font-size: 25px;
}

.icon.video::before{
    font-family: "Font Awesome 5 Free";
    content: '\f008';
    font-weight: 900;
    margin-right: 15px;
    font-size: 25px;
}

.icon.doc::before{
    font-family: "Font Awesome 5 Free";
    content: '\f15c';
    font-weight: 900;
    margin-right: 15px;
    font-size: 30px;
}

.icon.check::before{
    font-family: "Font Awesome 5 Free";
    content: '\f058';
    font-weight: 900;
    font-size: 30px;
    color: green;
    position: absolute;
    margin-top: -50px;
    margin-left: 150px;   
}

.icon.uncheck::before{
    font-family: "Font Awesome 5 Free";
    content: '\f057';
    font-weight: 900;
    font-size: 30px;
    color: orange;
    position: absolute;
    margin-top: -50px;
    margin-left: 150px; 
}


/* Rodapé */
footer .row{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    border-top: solid 2px darkgray;
}

footer .col-sm-2{
    margin: 10px 0px 10px 0px !important;
}


/* Aulas + Barras de Progresso + Botões*/
.botao{
    background-color: rgb(44, 164, 204);
    margin-bottom: 50px;
}

.progresso{
    text-align: center;
    margin-bottom: 50px;
}
.progress-bar{
    background-color: orange;
}
.concluido{
    background-color: green;
    border-color: green;
}

.aula{
    margin: 30px auto 30px auto;
}

.aula .col-lg-8{
    margin-top: 20px;
}


/* Questionário*/
#questionario{
    margin: 15px;
}
#questionario input{
    margin-bottom: 15px;
}

.resposta {
    display: none;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  input[type='radio']:checked + div {
    display: block;
  }